body  {
    background-color: blanchedalmond;
}
footer p {
    text-align: center;
    font-size: 0.6rem;
    margin-top: 0.5rem;
    background-color: antiquewhite;
    color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
    }
    body {
        background-color: blanchedalmond;
        font-family: bai Jamjures;
        }































































































































































